body {
    font-size: 1.3rem; /* Adjust as needed */
}

#myNavbar:hover {
    background-color: #a38172;
    color: #EEE2DC;

}
.button-9 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #123C69;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 175px;
}

.button-9:disabled {
    cursor: default;
}

.button-9:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.myContainer {
    display: flex;
    align-items: center;
    border-width: 10px;
    border-color: black;
}

button {
    margin: 20px;
}

video {

    margin: 30px;
}

h3, p {
    padding: 10px;
}

#floatCont {
    width: 100%;
}

#picture {
    padding-right: 40px;
    padding-left: 20px;
    float: right;
    width: 20%;
}

.footer-basic {
    padding:40px 0;
    box-shadow: inset 0px 15px 20px -20px rgba(0,0,0);
    background: rgba(237, 199, 183, 0.5);
    color:rgba(0, 0, 0, 0.8);
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.modalBckg {
    background: #BAB2B5;
    width: 60%;
    margin: 5% auto;
    padding: 10px;
    border-radius: 25px;
}

.modalDiv {
    background: #ADA4A7;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 15px;
    scrollbar-track-color: black;
}

@media only screen and (max-width: 360px) {
    .modalBckg {
        max-height: 375px;
    }
}


.button-1 {

     border-radius: 8px;
     border-style: none;
     box-sizing: border-box;
     color: #FFFFFF;
     cursor: pointer;
     display: inline-block;
     font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 14px;
     font-weight: 500;
     height: 40px;
     line-height: 20px;
     list-style: none;
     margin: 0;
     outline: none;
     padding: 10px 16px;
     position: relative;
     text-align: center;
     text-decoration: none;
     transition: color 100ms;
     vertical-align: baseline;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
    margin: 20px;
    }

.form {
    display: none;
}

.form.active {
    display: block;
}

.checkbox-wrapper-21 .control {
     display: block;
     position: relative;
     padding-left: 30px;
     cursor: pointer;
     font-size: 18px;
}
.checkbox-wrapper-21 .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox-wrapper-21 .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}
.checkbox-wrapper-21 .control:hover input ~ .control__indicator,
.checkbox-wrapper-21 .control input:focus ~ .control__indicator {
    background: #ccc;
}
.checkbox-wrapper-21 .control input:checked ~ .control__indicator {
    background: #2aa1c0;
}
.checkbox-wrapper-21 .control:hover input:not([disabled]):checked ~ .control__indicator,
.checkbox-wrapper-21 .control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}
.checkbox-wrapper-21 .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.checkbox-wrapper-21 .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.checkbox-wrapper-21 .control input:checked ~ .control__indicator:after {
    display: block;
}
.checkbox-wrapper-21 .control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.checkbox-wrapper-21 .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

