<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sample Webpage</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="css/stylesheet.css">
    </head>
    <body style="background-color: #EEE2DC", marginwidth="0">
    <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 5px; background-clip: content-box; box-shadow: inset 0 0 0 10px #EDC7B7, 0 0 10px black">
            <div class="container-fluid" style="background-color: #EDC7B7">
                <a class="navbar-brand" href="home.html" style="color: #AC3B61">Essential Anatomy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" id="myNavbar" aria-current="page" href="home.html">Home</a>
                        <a class="nav-link" id="myNavbar" href="generate.html">Generate Report</a>
                        <a class="nav-link active" id="myNavbar" href="about.html">About</a>
                    </div>
                </div>
            </div>
        </nav>
    <!--Navbar End-->
    </br>
    <h1>&nbsp;About</h1>
    <h3>Essential Anatomy</h3>
    <p>&emsp;&emsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu neque orci.
        Aliquam aliquam, lectus et dapibus vulputate, orci nibh accumsan arcu, id
        pellentesque diam tortor in sem. Proin pellentesque eleifend enim dictum eleifend.
        Sed porta arcu justo, vulputate venenatis tellus congue ut. Aliquam tincidunt
        vitae dui ac efficitur. Duis quis rutrum diam. Praesent lacinia risus sed ligula
        laoreet convallis. Curabitur nisi metus, euismod a eros a, commodo maximus ex.
        Aliquam ante diam, tristique sed ornare faucibus, auctor a lorem. Nullam sit amet
        libero quis odio eleifend fringilla. Vivamus sodales dolor eget est fringilla,
        et sagittis ligula viverra. Vestibulum molestie, purus id ultricies pulvinar, urna
        erat lacinia lorem, in auctor felis eros eu dolor. Proin rhoncus purus purus,
        sollicitudin scelerisque mi tempus at. Curabitur sit amet ullamcorper est, at commodo
        ipsum. Duis id nisl pulvinar, sagittis massa quis, blandit sem. Ut eget lacus magna. </p>
    <h3>Dr. Harmon</h3>
    <div id="floatCont">
        <img src="Dr.Harmon_Pic" id="picture">
        <p>&emsp;&emsp;Fusce congue tincidunt fringilla. Pellentesque eu dictum enim. Quisque
            nisi lacus, aliquet sed suscipit vestibulum, laoreet et enim. Vivamus interdum augue
            ac magna tristique, ut sodales arcu tempus. Nulla lobortis, turpis vel convallis
            aliquet, nunc ligula ullamcorper metus, vitae vulputate eros ante nec nisi. Sed ut
            laoreet sem, et sagittis lectus. Sed convallis ex quis dictum mattis. Etiam tempor eros
            non tincidunt tincidunt. Donec nec nunc eu enim laoreet suscipit non in turpis. Ut
            pulvinar commodo nunc, id egestas ante suscipit sit amet. Suspendisse ipsum arcu, interdum
            ut sem a, volutpat dictum quam. Donec egestas vitae purus at condimentum. Curabitur
            suscipit aliquet diam sed facilisis. In vestibulum condimentum metus, sed sodales
            mauris iaculis eget. Phasellus turpis elit, vehicula vel sapien a, dapibus hendrerit diam.</p>
    </div>
    <h3>Credits</h3>
    <p>&emsp;&emsp;Praesent mollis justo lectus, eget fermentum tellus consequat non.
        Proin tempus nibh semper libero fringilla, non condimentum libero faucibus. Sed
        nec tortor metus. Nunc non aliquam nibh, venenatis tincidunt risus. Nulla
        pulvinar leo diam, in volutpat velit consequat sit amet. Vestibulum bibendum
        mauris nec dapibus euismod. Vivamus imperdiet ac sem commodo molestie. Ut
        aliquet orci eget nisi vehicula rutrum. Quisque tempor dolor sed dictum sagittis.
        <br><br>
        &emsp;&emsp;Aliquam malesuada eget odio non consequat. Fusce laoreet sem justo.
        Integer aliquam vitae eros at pellentesque. Maecenas sit amet orci nunc. Quisque
        ut ligula mauris. Suspendisse eget sapien eu enim dapibus mollis. Ut ullamcorper nunc
        libero, id pharetra nibh aliquam sed. </p>

        <!--Footer starts-->
        <div class="footer-basic">
            <footer>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="home.html">Home</a></li>
                    <li class="list-inline-item"><a href="generate.html">Generate Report</a></li>
                    <li class="list-inline-item"><a href="about.html">About</a></li>
                </ul>
            </footer>
        </div>
        <!--Footer starts-->
    </body>
</html>